<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Mobizone</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 col-12 row">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"></a>
                        </li>
                        <li class="nav-item col">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"></a>
                        </li>
                       
                       
                            @if (User.Identity.IsAuthenticated)
                            {
                               
                                 <li class="nav-item">
                                <a class="nav-link text-dark" style="margin-left: 17px;padding-top: 5px ; asp-controller="User" asp-action="account">@User.Identity.Name </a>
                                </li>
                                <li class="nav-item">
                                <a class="btn btn-primary" style="margin-left: 0px;padding-top: 5px; padding-bottom: 6px;" asp-area="" asp-controller="admin" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                             <li class="nav-item">
                            <a class="btn btn-primary" style="margin-left: 0px;padding-top: 5px;
    padding-bottom: 6px;" asp-area="" asp-controller="User" asp-action="UserRegister">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary" style="margin-left: 17px;padding-top: 5px;
    padding-bottom: 6px;" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                                </li>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
