@model IEnumerable<DomainLayer.Product.ProductsModel>
@{
    ViewData["Title"] = "Index";
}

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
        padding: 5%;
        width: 80%;
        height: 95%;
    }

    .price {
        color: grey;
        font-size: 22px;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 80%;
        font-size: 18px;
    }

    .card button:hover {
        opacity: 0.7;
    }

</style>

<h2 style="text-align:center">Products</h2>


    <div class="container">
        <div class="row">
            @foreach (var items in Model)
            {
                <div class="col-md-4">
                    <div class="card">
                        <a asp-route-id="@items.id" asp-controller="Product" asp-action="ProductDetails"><img src="~/images/ProductImages/@items.image" alt="Mobile" style="width: 45%; height: 90%; position: relative; left: 0px;"></a>
                        <h1 style="font-size: 145%;">@items.productName</h1>
                        <p class="price" style="color: black;">&#8377 @items.productPrice</p>
                        <p><a asp-route-id="@items.id" asp-controller="checkout" asp-action="BuyNow"><button class="btn btn-primary">Buy Now</button></a></p>
                        <p><button class="btn btn-primary">Add to Cart</button></p>
                    </div>
                </div>
            }
        </div>
    </div>







