
<style>
footer {
  display: flex;
  flex-direction: row;
  border-top: 1px solid;
  flex-wrap: wrap;
  margin-top:500px;
}
footer h5 a {
  display: flex;
  flex-direction: column;
}
footer h5 a img {
  width: 100px;
}
footer h5 a span {
  text-align: center;
}
footer > ul {
  margin: 0 auto;
  margin-top: 20px;
}
footer > ul > li ul {
  margin-left: 10px;
}
footer div {
  border-top: 1px solid;
  flex: 0 0 100%;
  margin-top: 10px;
}
footer div p {
  text-align: center;
  padding: 10px;
}
 a{
    text-decoration:none;
}
li{
     list-style:none;
}
.about{
    margin-top:10px;
}
.privacy{
    margin-top:10px;
}
.contact{
    margin-top:10px;
}
                </style>
                 <footer>
            <h5>
                <a href="#"><img src="~/Images/MobiZone-logos_black.png" /> <span>MobiZone</span> </a>
            </h5>

            <ul>

                <li>
                    <a href="#">Company</a>
                    <ul>
                        <li class="about"><a asp-controller="Settings" asp-action="About">About</a></li>
                        <li class="privacy"><a asp-controller="Settings" asp-action="About">Privacy & Policy</a></li>
                        <li class="contact"><a asp-controller="Settings" asp-action="Contact">Contact Us</a></li>
                    </ul>
                </li>

            </ul>

            <div>
                <p><i class="fa fa-copyright" aria-hidden="true"></i> Mobizone Pivate limited</p>
            </div>

        </footer>