
@model DomainLayer.UserCheckOut
@{
    ViewData["Title"] = "Checkout";
    var product = ViewData["ProductList"] as DomainLayer.Products;
    var user = ViewData["UserData"] as DomainLayer.Registration;
    var values = Enum.GetValues(typeof(DomainLayer.Orders.PaymentStatus));
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div style="position: relative; left: 109px;">
    @if (user == null)
    {
        <h5>Not a user?</h5>
        <a asp-controller="User" asp-action="Login" class="btn btn-primary" on-click="SignIn()">Click here to Login</a>
    }

<div class="container">
    <div class="row">
        <div class="container-fluid mt-3">

            <div class="row" style="margin-right: 6%;margin-left: 7%;">
                <form asp-action="MyOrders" method="post" class="col" id="my-form">
                    <div>

                        <div class="card" style="padding: 37px;">
                            <div class="" style="padding: 2px; margin-left: -37px;">
                                <div class="address"><p class="card-title">Delivery Address</p></div>
                                <div class="row">
                                    <div class="col"><a href="/checkout/address" class="btn btn-primary">Add New Address</a></div>                                   
                                </div>
                            </div>
                        </div>
                        <div class="card order mt-3">
                            <div class="">

                                <h5 class="card-title address">Order Summary</h5>

                                <div class="orderDetails">
                                    <div class="form-check">
                                        <div class="">
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col col d-flex justify-content-end " @*style="display:none"*@><a href="#" class="btn btn-primary toggle-button2" @* style="background-color: #508be3;" onclick="paymentDetails()"*@>continue</a></div>
                            </div>

                        </div>
                    </div>

                    <div class="card payment mt-3">
                        <div class="">
                            <h5 class="card-title address">Payment Mode</h5>
                            @foreach (var item in values)
                            {

                                <div class="form-check">
                                    <input class="form-check-input "name="paymentModeId" type="checkbox" value='@Convert.ToInt32(item)'>
                                    <label class="form-check-label" for="flexCheckDefault" style=" margin-left: 26px;">
                                        @item
                                    </label>
                                </div>
                            }
                            <p class="card-text"></p>
                            <div class="row">
                                <div class="col"><a asp-action="Index" class="btn btn-primary" style="position: relative; left: 262px;">Cancel</a></div>
                                <div class="col"></div>
                                <div class="col col d-flex justify-content-end "><input type="submit" value="Place Order" class="btn btn-primary" @*onchange="displaySubmit()" display:none" *@ /></div>
                            </div>
                        </div>
                    </div>
            </div>
            </form>
            <div class="col-6">
                <div class="card" style="margin-left: 19%;margin-right: -38%;">

                    <div class="Price">
                        <h5 class="card-title" style="">Price Details</h5>
                        <hr />
                    </div>
                    <div>
                        <p class="card-text" id="priceField">Price </p>
                        <div class="card-text"> <div class="row"><p class="col-6">Shipping Charge <p class="col-6" style="color: green;">Free</p>  </div></div>
                        <div id="price"></div>
                    </div>

                    <div class="">
                        <p class="card-text" id="totalPrice">Total Payable</p>
                        <div id="price"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
<script>
    function SignIn() {

    }
</script>

