<div class=" text-center" style=" position: relative; margin-top: 108px;">
    <img src="~/images/OrderPlaced.png" alt=" Tick" style="height:177px; width:182px;" />
    <p> <h3> Order Placed Successfully</h3> On Order Id : @ViewBag.orderId </p>
</div>
